@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white font-sans text-navy;
    -webkit-font-smoothing: antialiased;
  }
  h1, h2, h3 {
    @apply font-serif text-navy;
  }
}

@layer utilities {
  .text-navy-80 {
    color: rgba(9, 38, 52, 0.8);
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
